# -- App ------------------------------------------------------
APP_SECRET_KEY=your_secret_key_for_jwt_or_encryption

# -- Database -------------------------------------------------
DB_URL=jdbc:postgresql://localhost:5432/oscbs
DB_USERNAME=db_username
DB_PASSWORD=db_password

# -- JWT ------------------------------------------------------
JWT_SECRET=ThisIsAVeryLongSecretKeyThatIsAtLeast256BitsLongForHMACSHA256
JWT_ACCESS_EXPIRY=900000
JWT_REFRESH_EXPIRY=604800000

# -- Password Policy -----------------------------------------------------------
PASSWORD_MIN_LENGTH=5
PASSWORD_MAX_LENGTH=64
PASSWORD_REQUIRE_UPPERCASE=true
PASSWORD_REQUIRE_LOWERCASE=true
PASSWORD_REQUIRE_DIGIT=true
PASSWORD_REQUIRE_SPECIAL=true
PASSWORD_HISTORY_COUNT=5
PASSWORD_EXPIRY_DAYS=90
MAX_FAILED_ATTEMPTS=5


# -- BOOTSTRAP Services ------------------------------------------------------------------------
BOOTSTRAP_USERNAME=admin
BOOTSTRAP_EMAIL=admin@oscbs.internal
BOOTSTRAP_PASSWORD=Passw0rd123


# -- SMTP -----------------------------------------------------
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your_email@gmail.com
SMTP_PASSWORD=your_smtp_password
SMTP_FROM=noreply@yourdomain.com

# -- Twilio ----------------------------------------------------
TWILIO_ACCOUNT_SID=your_twilio_account_sid
TWILIO_AUTH_TOKEN=your_twilio_auth_token
TWILIO_PHONE_NUMBER=+1234567890
TWILIO_MESSAGING_SERVICE_SID=your_messaging_service_sid

# -- Google OAuth2 ---------------------------------------------
GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your_google_client_secret